.mainForm {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

body {
    background-color: cadetblue;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: 10px;
}

button {
    background-color: bisque;
    border-radius: 10px;
}

button:hover {
    background-color: burlywood;
    cursor: pointer;
}

input:hover {
    background-color: cornsilk;
}